/* Navbar.css */

.header {
  background-color: #333;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  padding: 10px;
}

.navbar-logo {
  max-width: 250px;
  height: auto;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.navbar-logo.scrolled {
  max-width: 150px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  color: red;
}

/* Style for the "About Me" button */
.about-me-button {
  color: white;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.about-me-button:hover {
  color: red;
}
